            <h1 class="mt-4">FITNESS IS THE KEY</h1>
            <h2 class="lead mb-3">Welcome <%= user.name %></h2>
            <a href="/users/logout" class="btn btn-danger">Logout</a>
            <a href="https://rokib042.github.io/RUNNING-PRACTICE-WEB-APP/" class="btn btn-primary">Click here so you can start the practice</a>e